<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahlbe.cse4471">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Encryption"
            android:label="@string/title_activity_encryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.MainActivity" />
        </activity>
        <activity
            android:name=".CaesarEncryption"
            android:label="@string/title_activity_caesar_encryption"
            android:parentActivityName=".Encryption"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.Encryption" />
        </activity>
        <activity
            android:name=".ImageEncryption"
            android:label="ImageEncryption"
            android:parentActivityName=".Encryption"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.Encryption" />
        </activity>
        <activity
            android:name=".Decryption"
            android:label="@string/title_activity_decryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.MainActivity" />
        </activity>
        <activity android:name=".CaesarDecryption"></activity>
        <activity android:name=".ImageDecryption"></activity>
    </application>
</manifest>