<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahlbe.cse4471">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EncryptionActivity"
            android:label="@string/title_activity_encryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.MainActivity" />
        </activity>
        <activity
            android:name=".CaesarEncryption"
            android:label="@string/title_activity_caesar_encryption"
            android:parentActivityName=".EncryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.EncryptionActivity" />
        </activity>
        <activity
            android:name=".ImageEncryption"
            android:label="ImageEncryption"
            android:parentActivityName=".EncryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.EncryptionActivity" />
        </activity>
        <activity
            android:name=".ImageEncryptionError"
            android:label="ImageEncryptionError"
            android:parentActivityName=".EncryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.EncryptionActivity" />
        </activity>
        <activity
            android:name=".MotionEncryption"
            android:label="MotionEncryption"
            android:parentActivityName=".EncryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.EncryptionActivity" />
        </activity>
        <activity
            android:name=".MotionDecryption"
            android:label="MotionDecryption"
            android:parentActivityName=".DecryptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.DecryptionActivity" />
        </activity>
        <activity
            android:name=".DecryptionActivity"
            android:label="@string/title_activity_decryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahlbe.cse4471.MainActivity" />
        </activity>
        <activity android:name=".CaesarDecryption" />
        <activity android:name=".ImageDecryption" />
        <activity
            android:name=".CaesarEncryptedText"
            android:label="@string/title_activity_caesar_encrypted_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaesarDecryptedText"
            android:label="@string/title_activity_caesar_decrypted_text"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>